<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <style>
      .container{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
     }
    </style>
  </head>
  <body>
    <div class = "container">
      <h3>Employee Registration form</h3>
    <form action="/allusers" id="form" method="POST">
      <label for="fname"> Firstname : </label>
      <input value="Firstname" type="text" id="fname" name="fname" /><br />
      <label for="lname"> Lastname : </label>
      <input value="Lastname" type="text" id="lname" name="lname" /><br />
      <label for="email"> Email id : </label>
      <input value="name@gmail" type="email" id="email" name="email" /><br />
      <label for="phno"> Phone number : </label>
      <input value="123456789" type="tel" id="phno" name="phno" /><br />

      <label for="dob"> DOB : </label>
      <input value="01-01-2001" type="text" id="dob" name="dob" /><br />

      <label for="gender"> Gender : </label>
      <input value="Gender" type="text" id="gender" name="gender" /><br />

      <label for="qual"> Qualification : </label>
      <input value="Qualification" type="text" id="qual" name="qual" /><br />
      
      <label for="age"> Age : </label>
      <input value="40" type="text" id="age" name="age" /><br />  

      <label for="pqual"> Years of experience (previous org.) : </label>
      <input value="Years of exp(prev)" type="text" id="pqual" name="pqual" /><br />

      <label for="doj"> Date of Joining : </label>
      <input value="01-01-2023" type="text" id=  "doj" name="doj" /><br />

      <button type="submit">SUBMIT</button>
    </form>
</div>
    <script src="./index.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"
      integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
